.inscribe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem 0;
    box-sizing: border-box;
    font-family: Aeonik Mono;
    min-width: 1200px;
}

.inscribe-page .total-remain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px
}

.inscribe-page .total-remain .data {
    display: flex;
    align-items: center;
    gap: 5px
}

.inscribe-page .total-remain .double {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.inscribe-page .black-text {
    color: #000
}

.inscribe-page .gray-bg {
    outline: none;
    background: #1d1d1d
}

.inscribe-page .deploy {
    height: 48px;
    border-radius: 8px;
    border: 1px solid #c8c8c8
}

.inscribe-page .flex {
    display: flex
}

.inscribe-page .flex-col {
    flex-direction: column
}

.inscribe-page .items-center {
    align-items: center
}

.inscribe-page .justify-between {
    width: 800px;
    justify-content: space-between
}

.inscribe-page .justify-center {
    justify-content: center
}

.inscribe-page .gap-2 {
    gap: .5rem
}

.inscribe-page .gap-5 {
    gap: 1.25rem
}

.inscribe-page .py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.inscribe-page .p-2 {
    padding: .5rem
}

.inscribe-page .px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.inscribe-page .border {
    border-width: 0px
}

.inscribe-page .rounded-lg {
    border-radius: .5rem
}

.inscribe-page .w-\[200px\] {
    width: 200px
}

.inscribe-page .w-\[400px\] {
    width: 400px
}

.inscribe-page .h-10 {
    height: 2.5rem
}

.inscribe-page .w-\[600px\] {
    width: 680px
}

.inscribe-page .w-\[800px\] {
    width: 800px
}

.inscribe-page .w-\[1000px\] {
    width: 1000px
}

.inscribe-page .h-\[100px\] {
    height: 100px
}

.inscribe-page textarea {
    resize: vertical
}

.inscribe-page .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.inscribe-page .text-white {
    --tw-text-opacity: 1;
    color: #fff
}

.inscribe-page .bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: #16a34a
}

.inscribe-page .rounded-full {
    outline: none;
    border: none;
    border-radius: 9999px
}

.inscribe-page .mt-5 {
    margin-top: 1.25rem
}

.inscribe-page .py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.inscribe-page .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.inscribe-page .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: #1d1d1d
}

.inscribe-page .gap-1 {
    gap: .25rem
}

.inscribe-page .h-\[600px\] {
    height: 600px
}

.inscribe-page .h-8 {
    height: 2rem
}

.inscribe-page .gray {
    background-color: #1d1d1d
}

.inscribe-page .black {
    background-color: #000
}

.inscribe-page button.confirm {
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize
}

.inscribe-page .holders-title {
    width: 800px;
    text-align: left;
    font-size: 22px
}

.inscribe-page .ant-table-thead .ant-table-cell {
    padding-block: 25px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize
}

.inscribe-page .ant-table-thead .ant-table-cell:before {
    display: none
}

.inscribe-page .ant-table-tbody .ant-table-cell {
    color: #c8c8c8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.inscribe-page .inscribe-tick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px
}

.inscribe-page .inscribe-tick .tick-name {
    font-size: 64px;
    font-weight: 700
}

.inscribe-page .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.inscribe-page .search-bar .rank-icon {
    display: flex;
    align-items: center;
    color: #646464
}

.inscribe-page .search-bar .search-input {
    width: 680px;
    height: 48px;
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 0 15px;
    border-radius: 8px;
}

.inscribe-page .search-bar .search-input .ant-input-suffix {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    border-left: 1px solid #424242;
    cursor: pointer
}


.launch-btn {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 90px;
    padding: 2px;
    border: none;
    background-image: linear-gradient(90deg, #ff0000, #bdff00, #00ff66, #00b2ff, #2400ff, #ff00d6)
}

.launch-btn .label {
    width: 100%;
    height: 100%;
    line-height: 36px;
    border-radius: 90px;
    background: #fff;
    color: #000;
    font-family: Aeonik Mono;
    font-size: 20px
}

.launch-btn .label:hover {
    background: #fff;
    color: #000
}

